@tailwind base;
@tailwind components;
@import url("https://fonts.googleapis.com/css2?family=Oldenburg&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #595757;
  border-radius: 20px;
}

body {
  font-family: "Oldenburg", cursive;
}

@tailwind utilities;
